.banner {
  background-image: url("img/background-Science.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .overlay{
  background-color: var(--white);
  color: var(--white);
  padding: 20px 40px;
  border-radius: 8px;
}

.objectives ul {
  padding-left: 20px;
  margin-top: 10px;
}

.objectives li {
  margin-bottom: 10px;
  color: #3b4ea3;
  font-weight: 500;
}

.schools li{
  margin-bottom: 10px;
  color: #3b4ea3;
  font-weight: 500;
}

.schools {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
  max-width: 100%;
  max-height: 500px;
}

.school {
  background-color: white;
  color: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
}


/* carregamento*/
.spinner {
  width: 100px;
  height: 100px;
  position: relative;
}

.spinner div {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-top-color: #2742f4;
  border-radius: 50%;
  animation: spinnerOne 1.2s linear infinite;
}

.spinner div:nth-child(2) {
  border: 10px solid transparent;
  border-bottom-color: #e30613;
  animation: spinnerTwo 1.2s linear infinite;
}