:root {
  --blue: #1e3a8a;
  --light-blue: #3b4ea3;
  --red: #e30613;
  --gray: #333333;
  --black: black;
  --white: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
  color: var(--gray);
}

main {
  margin-top: 100px;
  /* altura do nav fixo */
  padding: 40px 20px;
  max-width: 75%;
  margin-left: auto;
  margin-top: auto;
  margin-right: auto;
}

h1,
h2,
h3 {
  color: var(--black);
  margin-bottom: 10px;
}

p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Navegação */
nav ul {
  display: flex;
  gap: 10px;
}

nav ul li a {
  color: var(--blue);
  font-size: 20px;
}

/* Rodapé */
footer {
  background-color: var(--light-blue);
  color: var(--white);
  padding: 20px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

footer a {
  color: var(--white);
}

footer a:hover {
  color: var(--red);
}

