main{
    text-align: justify;
}

main h2{
    text-align: center;
    color: rgb(0, 0, 160);
    font-weight: bold;
}

.training-grid{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    margin: 3%;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.content h3{
    text-align: center;
    color: rgb(0, 0, 160);
    margin-bottom: 1%;
    font-weight: bold;
}

.content img{
    width: 80%;
    display: block;
    margin: 0 auto;
}

@media (max-width: 780px){
    .training-grid{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        justify-content: center;
        align-items: center;
        gap: 0;
    }
}