:root {
  --blue: #1e3a8a;
  --light--blue: #3b4ea3;
  --red: #e30613;
  --green: #00b140;
  --gray: #333333;
  --black: black;
  --white: #f5f5f5;
  --yellow: #ffc107;
}

* {
  margin: 0.%;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: var(--white);
  color: var(--gray);
  border-bottom: 2px solid var(--blue);
}

main {
  background-color: var(--white);
  padding: 40px 20px;
}

.banner {
  background-image: url("img/background-Science.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .overlay{
  background-color: var(--white);
  color: var(--white);
  padding: 20px 40px;
  border-radius: 8px;
}

article {
  max-width: 900px;
  margin: 0 auto;
  background-color: var(--white);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

h1, h2, h3 {
  color: var(--black);
  margin-bottom: 10px;
}

p {
  color: var(--gray);
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.objectives ul {
  padding-left: 20px;
  margin-top: 10px;
}

.objectives li {
  margin-bottom: 10px;
  color: #3b4ea3;
  font-weight: 500;
}

.schools li{
  margin-bottom: 10px;
  color: #3b4ea3;
  font-weight: 500;
}

nav ul {
  gap: 10px;
  list-style: none;
  display: flex;
}

nav ul li a {
  color: var(--blue);
  font-size: 20px;
  text-decoration: underline;
  font-weight: bold;
}

.container-logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

#logotype-image {
  width: 80px;
  height: auto;
}

.logotype-image {
  width: 50%;
  display: flex;
  align-content: center;
  padding: 10px 20px;
}

footer {
  background-color: var(--light--blue);
  color: var(--white);
  padding: 20px;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li {
  margin-bottom: 5px;
}

footer a {
  color: var(--white);
  text-decoration: none;
}

footer a:hover {
  color: var(--red);
}


/* carregamento*/
.spinner {
  width: 100px;
  height: 100px;
  position: relative;
}

.spinner div {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-top-color: #2742f4;
  border-radius: 50%;
  animation: spinnerOne 1.2s linear infinite;
}

.spinner div:nth-child(2) {
  border: 10px solid transparent;
  border-bottom-color: #e30613;
  animation: spinnerTwo 1.2s linear infinite;
}

@keyframes spinnerOne {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 10px;
  }
}

@keyframes spinnerTwo {
  0% {
    transform: rotate(0deg);
    border-width: 1px;
  }
  50% {
    transform: rotate(180deg);
    border-width: 10px;
  }
  100% {
    transform: rotate(360deg);
    border-width: 1px;
  }
}


